/* latin */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../font/DancingScript.ttf) format('truetype');
}

/* arabic */
@font-face {
    font-family: 'Qahiri';
    src: url(../font/Qahiri-Regular.ttf) format('truetype');
}